

<div class="search hero">
  <div class="container banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container content-container--full-width-mobile">
      <div class="banner__form" {{ block.shopify_attributes }}>
        <form action="/pages/search" type="POST" id="aiSearch">
          <div class="banner__field-wrapper">
            <div class="banner__field field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="text"
                name="search"
                class="banner__input field__input color-text-white text-20px-all"
                value=""
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="search"
                placeholder="{{ block.settings.form_placeholder | escape }}"
                required
              >
              <span class="banner__icon-search">{% render 'icon-search' %}</span>
              <label class="banner__label field__label color-text-white text-20px font-weight-bold">
                {{ block.settings.form_placeholder | escape }}
              </label>
              <button type="submit" class="btn btn--primary banner__button field__button" id="SearchSubmit">
                {% render 'icon-magic-wand' %}
                {{ block.settings.button_text | escape }}
              </button>
            </div>
          </div>
        </form> 
      </div>
    </div>

        <div class="search__wrapper">
          <div class="search__header">
            {% if section.settings.search_title != blank %}
              <h2>{{ section.settings.search_title }}</h2>
            {% endif %}
            {% if section.settings.search_description != blank %}
              <p id="search-prompt">{{ section.settings.search_description }}</p>
            {% endif %}
          </div>
          <div class="swiper" id="search-swiper">
            <div class="swiper-wrapper">
              {% for product in collections.all.products limit:4 %}            
                <div class="swiper-slide">
                  <a href="{{ product.url }}" target="_blank">
                    <img src="{{ product.featured_image | img_url: 'grande' }}" />
                  </a>
                </div>
              {% endfor %}
            </div>
            <div class="swiper__append">        
              <button type="button" id="generate-more" class="append-2-slides">Create More 
                {% render 'create-more-icon' %}
              </button>
            </div>
          </div>
        </div>
  </div>
</div>

<script>

  const swiperAppend = document.querySelector('.swiper__append');
  const swiperSlide3 = document.querySelector('.swiper-slide:nth-child(3)');
  const swiper = new Swiper('.swiper', {
    slidesPerView: 2.5,
    spaceBetween: 30,
    freeMode: true,
    mousewheel: true,
    breakpoints: {
      767: {
        slidesPerView: 2.5
      },
      320: {
        slidesPerView: 1.2,
      }
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  const mediaQuery = window.matchMedia('(max-width: 768px)');

  document.querySelector('.swiper__append').addEventListener('click', function (e) {
    e.preventDefault();
    swiperSlide3.classList.add('active');
    swiper.params.slidesPerView = 3.5;
    if (mediaQuery.matches) {
      swiper.params.slidesPerView = 1.5;
    }
    swiper.update();
    swiper.appendSlide(Array(4).fill('<div class="swiper-slide"><img src="{{ 't-shirt mockup.png' | asset_url }}" /></div>'));
    
  });
</script>


{% schema %}
{
  "name": "Search grid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "form_placeholder",
      "default": "Panda jumping",
      "label": "Form placeholder"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Create",
      "label": "Button text"
    },
    {
      "type": "text",
      "id": "search_title",
      "default": "Brought you by  the prompt:",
      "label": "Search title"
    },
    {
      "type": "text",
      "id": "search_description",
      "default": "Space panda, in the style of Pixar animation, very detailed, movie shot, studio quality, 8k render; weekly shonen jump issueby ‘zootopia’, ‘luca’, ‘zootopia’ etc, blockbuster, high detail; high quality film still; poster",
      "label": "Search description"
    }
  ],
  "presets": [
    {
      "name": "Search grid"
    }
  ]
}
{% endschema %}