<div class="search hero js-search-view">
  <div class="container banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container content-container--full-width-mobile">
      <div class="banner__form" {{ section.shopify_attributes }}>
        <form
          action="/pages/search"
          type="POST"
          id="aiSearch">
          <div class="banner__field-wrapper">
            <div class="banner__field field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="text"
                name="search"
                class="banner__input field__input color-text-white text-20px-all"
                value=""
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="search"
                placeholder="{{ section.settings.form_placeholder | escape }}"
                required>
              <span class="banner__icon-search">{% render 'icon-search' %}</span>
              {% comment %}
              <label class="banner__label field__label color-text-white text-20px font-weight-bold">
                {{ section.settings.form_placeholder | escape }}
              </label>
              {% endcomment %}

              <button
                type="submit"
                class="btn btn--primary banner__button field__button"
                id="SearchSubmit">
                {% render 'icon-magic-wand' %}
                {{ section.settings.button_text | escape }}
              </button>
            </div>
          </div>

          <label for="preventAutoExtend" class="checkbox">
            <input type="checkbox"
              name="preventAutoExtend"
              id="preventAutoExtend"
            >

            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>

            <svg class="icon icon-checkmark"
              width="1.1rem"
              height="0.7rem"
              viewBox="0 0 11 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">

              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                stroke="currentColor"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <span>Do not auto-extend prompt</span>
          </label>
        </form>
      </div>
    </div>

    <div class="search__wrapper loading">
      <div class="search__header">
        {% if section.settings.search_title != blank %}
          <h2>{{ section.settings.search_title }}</h2>
        {% endif %}
        {% if section.settings.search_description != blank %}
          <p class="js-search-prompt">{{ section.settings.search_description }}</p>
        {% endif %}
      </div>
      {% assign tshirt_photo_def = section.settings.tshirtplaceholder | image %}
      {% assign tshirt_photo = section.settings.product.images | first | default: tshirt_photo_def %}
      <div
        class="swiper js-search-swiper"
        data-mockup-url="{{ section.settings.product.url }}"
        data-mockup-src="{{ tshirt_photo | img_url: 'large' }}">
        <div class="swiper-wrapper">
          {% for i in (1..2) %}
            <div class="swiper-slide swiper-slide">
              <div class="preview-image" style="background-image: url(https://cdn.shopify.com/s/files/1/0694/9752/0433/files/aisharp.webp?v=1680782705)"></div>
              <img src="{{ tshirt_photo | img_url: 'large' }}" />
              <button data-mockup="{{ section.settings.product.url }}" class="btn btn--secondary js-get-product-redirect button button--secondary"><span>Buy</span></button>
            </div>
          {% endfor %}
          <div class="swiper-slide swiper-slide">
              <div class="preview-image"></div>
              <img src="{{ tshirt_photo | img_url: 'large' }}" />
              <button data-mockup="{{ section.settings.product.url }}" class="btn btn--secondary js-get-product-redirect button button--secondary"><span>Buy</span></button>
          </div>
        </div>
        <div class="swiper__append">
          <button type="button" class="append-2-slides js-generate-more">
            <span>Create More of this Style</span>
            {% render 'create-more-icon' %}
          </button>
        </div>
      </div>
    </div>

    <template class="js-search-dom-template">
      <div class="search__wrapper">
        <div class="search__header">
          {% if section.settings.search_title != blank %}
            <h2>{{ section.settings.search_title }}</h2>
          {% endif %}
          {% if section.settings.search_description != blank %}
            <p class="js-search-prompt">Loading...</p>
          {% endif %}
        </div>
        {% assign tshirt_photo_def = section.settings.tshirtplaceholder | image %}
        {% assign tshirt_photo = section.settings.product.images | first | default: tshirt_photo_def %}
        <div class="swiper js-search-swiper" data-mockup-url="{{ section.settings.product.url }}" data-mockup-src="{{ tshirt_photo | img_url: 'large' }}">
          <div class="swiper-wrapper">
            {% for i in (1..2) %}
                <div class="swiper-slide swiper-slide">
                  <div class="preview-image" style="background-image: url(https://cdn.shopify.com/s/files/1/0694/9752/0433/files/aisharp.webp?v=1680782705)"></div>
                  <img src="{{ tshirt_photo | img_url: 'large' }}" />
                  <button data-mockup="{{ section.settings.product.url }}" class="btn btn--secondary js-get-product-redirect button button--secondary"><span>Buy</span></button>
                </div>
              {% endfor %}
              <div class="swiper-slide swiper-slide">
                  <div class="preview-image"></div>
                  <img src="{{ tshirt_photo | img_url: 'large' }}" />
                  <button data-mockup="{{ section.settings.product.url }}" class="btn btn--secondary js-get-product-redirect button button--secondary"><span>Buy</span></button>
              </div>
          </div>
          <div class="swiper__append">        
            <button type="button" class="append-2-slides js-generate-more">
              <span>Create More of this Style</span>
              {% render 'create-more-icon' %}
            </button>
          </div>
        </div>
      </div>
    </template>

    {% comment %} @todo: add functionaity! {% endcomment %}
    {% if section.settings.show_more %}
      <div class="show-more">
        <button class="show-more__btn btn btn--secondary js-get-new-prompt">
          {% render 'icon-magic' %}
          <span>{{ section.settings.button_more }}</span>
        </button>
      </div>
    {% endif %}
  </div>
</div>

<script src="{{ 'search-swipers.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Search grid",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Default mockup product"
      },
      {
        "type": "video",
        "id": "preloader",
        "label": "Video preloader"
      },
      {
        "type": "text",
        "id": "form_placeholder",
        "default": "Panda jumping",
        "label": "Form placeholder"
      },
      {
        "type": "text",
        "id": "tshirtplaceholder",
        "default": "https://cdn.shopify.com/s/files/1/0694/9752/0433/files/t-shirt-mockup.png?v=1675951639",
        "label": "URL Link to T-Shirt product placeholder"
      },
      {
        "type": "text",
        "id": "button_text",
        "default": "Create",
        "label": "Button text"
      }, {
        "type": "text",
        "id": "search_title",
        "default": "Brought you by  the prompt:",
        "label": "Search title"
      }, {
        "type": "text",
        "id": "search_description",
        "default": "Loading...",
        "label": "Search description"
      }, {
        "type": "checkbox",
        "id": "show_more",
        "label": "Show more button",
        "default": false
      }, {
        "type": "text",
        "id": "button_more",
        "label": "Button more text",
        "default": "Show me more"
      }
    ],
    "presets": [
      {
        "name": "Search grid"
      }
    ]
  }
{% endschema %}
