<div class="search hero js-search-view">
  <div class="container banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container content-container--full-width-mobile">
      <div class="banner__form" {{ section.shopify_attributes }}>
        {% if section.settings.tutorial_title != blank %}
          <a class="hero__tutorial" href="{{ section.settings.tutorial_url }}">
            <span>{{ section.settings.tutorial_first_word }}</span>
            {{ section.settings.tutorial_title }}
            {% render 'icon-link' %}
          </a>
        {% endif %}

        <form
          action="/pages/ai-design-generator?preventAutoExtend=on"
          type="POST"
          id="aiSearch"
        >
          <div class="banner__field-wrapper">
            <div class="banner__field field">
              <input
                id="GenerateForm--{{ section.id }}"
                type="text"
                name="search"
                class="banner__input field__input color-text-white text-20px-all"
                value=""
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="search"
                placeholder="{{ section.settings.form_placeholder | escape }}"
                required
              >
              <span class="banner__icon-search">{% render 'icon-magic2' %}</span>
              {% comment %}
                <label class="banner__label field__label color-text-white text-20px font-weight-bold">
                  {{ section.settings.form_placeholder | escape }}
                </label>
              {% endcomment %}

              <button
                type="submit"
                class="btn btn--primary banner__button field__button"
                id="SearchSubmit"
              >
                {% render 'icon-magic-wand' %}
                {{ section.settings.button_text | escape }}
              </button>
            </div>
          </div>

          <label for="preventAutoExtend" class="checkbox">
            <input
              type="checkbox"
              name="preventAutoExtend"
              id="preventAutoExtend"
            >

            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>

            <svg
              class="icon icon-checkmark"
              width="1.1rem"
              height="0.7rem"
              viewBox="0 0 11 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                stroke="currentColor"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <span>Do not auto-extend prompt</span>
          </label>

          <fieldset>
            <label class="product_type_label dropdown-toggle">
              <span class="dropdown-label"></span>
              {% render 'icon-caret' %}
            </label>
            <radiogroup class="product_type_filter dropdown-items" data-target=".product_type_label">
              <label class="product_radiobutton" data-val="UCTS">
                <input type="radio" name="productType" value="UCTS" checked>
                <span>Unisex T-shirt</span>
              </label>
              <label class="product_radiobutton" data-val="FCTS">
                <input type="radio" name="productType" value="FCTS">
                <span>Women Tee</span>
              </label>
              <label class="product_radiobutton" data-val="KCTS">
                <input type="radio" name="productType" value="KCTS">
                <span>Kids Tee</span>
              </label>
              <label class="product_radiobutton" data-val="HOOD">
                <input type="radio" name="productType" value="HOOD">
                <span>Hoodie</span>
              </label>
              <label class="product_radiobutton" data-val="UHCS">
                <input type="radio" name="productType" value="UHCS">
                <span>Sweatshirt</span>
              </label>
              <label class="product_radiobutton" data-val="CASE">
                <input type="radio" name="productType" value="CASE">
                <span>Smartphone Case</span>
              </label>
             
            </radiogroup>
          </fieldset>

          <fieldset>
            <label class="product_color_label dropdown-toggle">
              <span class="dropdown-label"></span>
              {% render 'icon-caret' %}
            </label>
            <radiogroup class="product_color_filter dropdown-items" data-target=".product_color_label">
              <label class="product_radiobutton" data-val="White">
                <input type="radio" name="productColor" value="White">
                <span >White</span>
              </label>
              <label class="product_radiobutton" data-val="Athletic Heather">
                <input type="radio" name="productColor" value="Athletic Heather">
                <span>Athletic Heather</span>
              </label>
              <label class="product_radiobutton" data-val="Dark Heather">
                <input type="radio" name="productColor" value="Dark Heather">
                <span>Dark Heather</span>
              </label>
              <label class="product_radiobutton" data-val="Black">
                <input type="radio" name="productColor" value="Black">
                <span>Black</span>
              </label>
              <label class="product_radiobutton" data-val="Azalea">
                <input type="radio" name="productColor" value="Azalea">
                <span>Azalea</span>
              </label>
              <label class="product_radiobutton" data-val="Charcoal">
                <input type="radio" name="productColor" value="Charcoal">
                <span>Charcoal</span>
              </label>
              <label class="product_radiobutton" data-val="Irish Green">
                <input type="radio" name="productColor" value="Irish Green">
                <span>Irish Green</span>
              </label>
              <label class="product_radiobutton" data-val="Light Blue">
                <input type="radio" name="productColor" value="Light Blue">
                <span>Light Blue</span>
              </label>
              <label class="product_radiobutton" data-val="Light Pink">
                <input type="radio" name="productColor" value="Light Pink">
                <span>Light Pink</span>
              </label>
              <label class="product_radiobutton" data-val="Daisy">
                <input type="radio" name="productColor" value="Daisy">
                <span>Daisy</span>
              </label>
              <label class="product_radiobutton" data-val="Kelly">
                <input type="radio" name="productColor" value="Kelly">
                <span>Kelly</span>
              </label>
              <label class="product_radiobutton" data-val="Orange">
                <input type="radio" name="productColor" value="Orange">
                <span>Orange</span>
              </label>
              <label class="product_radiobutton" data-val="Navy">
                <input type="radio" name="productColor" value="Navy">
                <span>Navy</span>
              </label>
              <label class="product_radiobutton" data-val="Pink">
                <input type="radio" name="productColor" value="Pink">
                <span>Pink</span>
              </label>
              <label class="product_radiobutton" data-val="Red">
                <input type="radio" name="productColor" value="Red">
                <span>Red</span>
              </label>
              <label class="product_radiobutton" data-val="Royal">
                <input type="radio" name="productColor" value="Royal">
                <span>Royal</span>
              </label>
              <label class="product_radiobutton" data-val="True Royal">
                <input type="radio" name="productColor" value="True Royal">
                <span>True Royal</span>
              </label>
              <label class="product_radiobutton" data-val="Sand">
                <input type="radio" name="productColor" value="Sand">
                <span>Sand</span>
              </label>
              <label class="product_radiobutton" data-val="Sport Grey">
                <input type="radio" name="productColor" value="Sport Grey">
                <span>Sport Grey</span>
              </label>
              <label class="product_radiobutton" data-val="Universal Case">
                <input type="radio" name="productColor" value="Universal Case" disabled>
                <span>You can select your Cell phone model in your cart.</span>
              </label>
            </radiogroup>
          </fieldset>
        </form>
      </div>
    </div>

    <section class="search__wrapper loading">
      <div class="search__header">
        {% if section.settings.search_title != blank %}
          <h2>{{ section.settings.search_title }}</h2>
        {% endif %}
        {% if section.settings.search_description != blank %}
          <p class="js-search-prompt">{{ section.settings.search_description }}</p>
        {% endif %}
      </div>
      <div
        class="js-search-products products-list"
        data-mockup-src=""
      >
        <div class="products-wrapper">
          {% for i in (1..3) %}
            <div class="products-item">
              <div class="preview-container">
                <div class="preview-image"></div>
                <img class="preview-mockup" src="">
              </div>

              <button class="btn btn--secondary js-get-product-redirect button button--secondary">
                <span>Buy Now!</span>
              </button>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="products__append">
        <button type="button" class="append-2-slides js-generate-more">
          {% render 'create-more-icon' %}
          <span>Create more of this style</span>
        </button>
      </div>
    </section>

    {% comment %} COPY OF UPPER BLOCK BECAUSE OF SWIPER {% endcomment %}
    <template class="js-search-dom-template">
      <section class="search__wrapper">
        <div class="search__header">
          {% if section.settings.search_title != blank %}
            <h2>{{ section.settings.search_title }}</h2>
          {% endif %}
          {% if section.settings.search_description != blank %}
            <p class="js-search-prompt">{{ section.settings.search_description }}</p>
          {% endif %}
        </div>

        <div
          class="js-search-products products-list"
          data-mockup-src=""
        >
          <div class="products-wrapper">
            {% for i in (1..3) %}
              <div class="products-item">
                <div class="preview-container">
                  <div class="preview-image"></div>
                  <img class="preview-mockup" src="">
                </div>
                <button class="btn btn--secondary js-get-product-redirect button button--secondary">
                  <span>Buy Now!</span>
                </button>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="products__append">
          <button type="button" class="append-2-slides js-generate-more">
            {% render 'create-more-icon' %}
            <span>Create more of this style</span>
          </button>
        </div>
      </section>
    </template>

    {% comment %} @todo: add functionaity! {% endcomment %}
    {% if section.settings.show_more %}
      <div class="show-more js-show-more">
        <button class="show-more__btn btn btn--secondary js-get-new-prompt">
          {% render 'icon-magic-dark' %}
          <span>{{ section.settings.button_more }}</span>
        </button>
      </div>
    {% endif %}
  </div>
</div>
{%- render 'popup',
  popup_message: 'Your request is too suggestive. Please try something else.',
  popup_id: 'error_message'
-%}

{%- style -%}
  .template-search .search__wrapper .products-item:not(.customized) .preview-image {
    background-image: url({{ settings.loader }});
  }
{%- endstyle -%}

<script>
  (function () {
    window.productImages = {
      UCTS: {
        'Athletic Heather':
          'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_athleticheather_front.webp',
        Black: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_black_front.webp',
        {% comment %} 'Dark Heather': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_darkheather_front.webp', {% endcomment %}
        Kelly: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_kelly_front.webp',
        Navy: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_navy_front.webp',
        Orange: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_orange_front.webp',
        Pink: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_pink_front.webp',
        Red: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_red_front.webp',
        'True Royal': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_trueroyal_front.webp',
        White: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/t_shirt/unisex_white_front.webp',
      },
      FCTS: {
        Azalea: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_azalea_front.webp',
        Black: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_black_front.webp',
        {% comment %} Charcoal: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_charcoal_front.webp', {% endcomment %}
        {% comment %} Daisy: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_daisy_front.webp', {% endcomment %}
        'Irish Green': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_irishgreen_front.webp',
        Navy: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_navy_front.webp',
        Red: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_red_front.webp',
        'Sport Grey': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_sportgrey_front.webp',
        White: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_female/womens_white_front.webp',
      },
      KCTS: {
        Black: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_black_front.webp',
        'Irish Green': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_irishgreen_front.webp',
        'Light Blue': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_lightblue_front.webp',
        'Light Pink': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_lightpink_front.webp',
        Navy: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_navy_front.webp',
        Red: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_red_front.webp',
        Royal: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_royal_front.webp',
        White: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/tshirt_kids/kids_white_front.webp',
      },
      HOOD: {
        Black: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_black_front.webp',
        'Irish Green': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_irishgreen_front.webp',
        'Light Blue': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_lightblue_front.webp',
        'Light Pink': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_lightpink_front.webp',
        Navy: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_navy_front.webp',
        Red: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_red_front.webp',
        Royal: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_royal_front.webp',
        Sand: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_sand_front.webp',
        'Sport Grey': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_sportgrey_front.webp',
        White: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/hoodie/hoodie_white_front.webp',
      },
      UHCS: {
        Black: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_black_front.webp',
        'Irish Green': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_irishgreen_front.webp',
        'Light Blue': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_lightblue_front.webp',
        'Light Pink': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_lightpink_front.webp',
        Navy: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_navy_front.webp',
        Red: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_red_front.webp',
        {% comment %} Royal: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_royal_front.webp', {% endcomment %}
        Sand: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_sand_front.webp',
        'Sport Grey': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_sportgrey_front.webp',
        White: 'https://d26koaznr1os49.cloudfront.net/no_bg_webp2/sweatshirt/sweatshirt_white_front.webp',
      },
      CASE: {
        'Universal Case': 'https://d26koaznr1os49.cloudfront.net/no_bg_webp/case/frame-iphone15.webp'
      }
    };
    const searchParams = new URL(document.location).searchParams;
    const querySearch = searchParams.get('search') || DEFAULT_QUERY_SEARCH
    const reqProductType = searchParams.get('productType') || 'UCTS';
    const preventAutoExtend = (searchParams.get('preventAutoExtend') === "on");

    const requestedPreviewMockup = productImages[reqProductType] || productImages.UCTS;
    const previewMocks = document.querySelectorAll('.preview-mockup');
    
    const searchForm = document.getElementById('aiSearch');
    const productTypeLabel = document.querySelector('.product_type_label span');
    if (reqProductType && reqProductType.length) {
        const selectedTypeCheckbox = searchForm.querySelector('input[name="productType"][value="'+reqProductType+'"]');

        selectedTypeCheckbox.checked = true;
        productTypeLabel && (productTypeLabel.innerHTML = searchForm.querySelector('input[name="productType"][value="'+reqProductType+'"]').closest('LABEL').innerText);
    }
    searchForm.querySelector('input[name="search"]').value = querySearch;
    searchForm.querySelector('input[name="preventAutoExtend"]').checked = preventAutoExtend;

    for (let i = 0; i < previewMocks.length; i++) {
      const availableColors = Object.keys(requestedPreviewMockup);
      const randColor = availableColors[Math.floor(Math.random() * availableColors.length)] || 'White';
      const mock = previewMocks[i];

      console.log(randColor, requestedPreviewMockup[randColor]);
      mock.src = requestedPreviewMockup[randColor];

      if (reqProductType === 'CASE') {
        mock.parentNode.classList.add('downscaled');
        mock.classList.add('case-frame')
        // return;
      } else {
        mock.parentNode.classList.remove('downscaled');
        mock.classList.remove('case-frame')
      }

      const previewImage = mock.parentNode.querySelector('.preview-image');
      previewImage.setAttribute('data-preview-format', reqProductType);
    }

    document.querySelectorAll('.product_color_filter .product_radiobutton').forEach(function (rdbtn) {
      rdbtn.classList.remove('hidden');
      if (!requestedPreviewMockup[rdbtn.getAttribute('data-val')]) {
        rdbtn.classList.add('hidden');
      }
    });
  })();
</script>

{% schema %}
{
  "name": "Search grid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "preloader",
      "label": "Video preloader"
    },
    {
      "type": "text",
      "id": "tutorial_title",
      "label": "Tutorial title"
    },
    {
      "type": "text",
      "id": "tutorial_first_word",
      "label": "Tutorial first word"
    },
    {
      "type": "url",
      "id": "tutorial_url",
      "label": "Tutorial link url"
    },
    {
      "type": "text",
      "id": "form_placeholder",
      "default": "Panda jumping",
      "label": "Form placeholder"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Create",
      "label": "Button text"
    },
    {
      "type": "text",
      "id": "search_title",
      "default": "Brought you by  the prompt:",
      "label": "Search title"
    },
    {
      "type": "text",
      "id": "search_description",
      "default": "Loading...",
      "label": "Search description"
    },
    {
      "type": "checkbox",
      "id": "show_more",
      "label": "Show more button",
      "default": false
    },
    {
      "type": "text",
      "id": "button_more",
      "label": "Button more text",
      "default": "Show me more"
    }
  ],
  "presets": [
    {
      "name": "Search grid"
    }
  ]
}
{% endschema %}
